API_KEY='ваш ключ'


# Пути
LOG_FILE=app.log
DATA_DIR=data


# Уровни логирования
LOG_LEVEL_FILE=DEBUG
LOG_LEVEL_CONSOLE=INFO

# Ротация логов    # 10 МБ
LOG_MAX_SIZE=10485760
LOG_BACKUP_COUNT=5


# Формат логов: color / json / plain
LOG_FORMAT=color
